// Icons
.boxes-icons{ display: flex; flex-direction: row; flex-wrap: wrap; }
.box-icons-wrap { padding: 15px; }
.box-icons-wrap img{ max-width: 55px; max-height: 55px; }
.box-icons-wrap i { font-size: 3em; color: #000000; }
