@charset "utf-8";

// Define defaults for each variable.

//$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$base-font-family: Tahoma,Verdana,Segoe,sans-serif !default;
$code-font-family: Tahoma,Verdana,Segoe,sans-serif !default;
$base-font-size:   14px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

// Import pre-styling-overrides hook and style-partials.
@import
  "minima/custom/custom-variables", // Hook to override predefined variables.
  "minima/custom/variables/var_colors",
  "minima/custom/variables/var_grids",
  "minima/custom/variables/var_utility",
  "minima/custom/mixins/mix_buttons",
  "minima/custom/mixins/mix_clearfix",
  "minima/custom/mixins/mix_icons",
  "minima/custom/mixins/mix_links",
  "minima/custom/mixins/mix_menus",
  "minima/custom/mixins/mix_responsive-images",
  "minima/custom/mixins/mix_triangles",
  "minima/custom/typography/vertical_rhythm",
  "minima/custom/typography/links/hover-link",
  "minima/custom/typography/links/link-colors",
  "minima/custom/typography/links/unstyled-link",
  "minima/custom/typography/lists/bullets",
  "minima/custom/typography/lists/horizontal-list",
  "minima/custom/typography/lists/inline-block-list",
  "minima/custom/typography/lists/inline-list",
  "minima/custom/typography/text/ellipsis",
  "minima/custom/typography/text/force-wrap",
  "minima/custom/typography/text/nowrap",
  "minima/custom/typography/text/replacement",
  "minima/custom/utilities/float",
  "minima/custom/utilities/inline-block",
  "minima/custom/utilities/shared",
  "minima/custom/utilities/support",
  "minima/base",             // Defines element resets.
  "minima/layout",           // Defines structure and style based on CSS selectors.
  "minima/custom/custom-styles",     // Hook to override existing styles.
  "minima/custom/tertiary-menu",
  "minima/custom/modal"      //Testing Modal styles
;
