// breadcrumbs
.breadcrumb  ol {
    padding: 10px 16px;
    list-style: none;
    li {
      display: inline;
      font-size: 14px;
    }
    li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
 }
