// colors
.boxes-colors{ display: flex; flex-direction: row; flex-wrap: wrap; }
.box-colors-wrap { padding: 10px; }
.box-colors { height: 100px; width: 100px; }
.midnight-back { background-color: $midnight; }
.midnight-80-back { background-color: $midnight-80; }
.midnight-60-back { background-color: $midnight-60; }
.midnight-40-back { background-color: $midnight-40; }
.midnight-20-back { background-color: $midnight-20; }
.teal-back { background-color: $teal; }
.teal-80-back { background-color: $teal-80; }
.teal-60-back { background-color: $teal-60; }
.teal-40-back { background-color: $teal-40; }
.teal-20-back { background-color: $teal-20; }
.cerulean-back { background-color: $cerulean; }
.cerulean-80-back { background-color: $cerulean-80; }
.cerulean-60-back { background-color: $cerulean-60; }
.cerulean-40-back { background-color: $cerulean-40; }
.cerulean-20-back { background-color: $cerulean-20; }
.charcoal-back { background-color: $charcoal; }
.steel-back { background-color: $steel; }
.ruby-back { background-color: $ruby; }
.crimson-back { background-color: $crimson; }
.crimson-60-back { background-color: $crimson-60; }
.crimson-40-back { background-color: $crimson-40; }
.crimson-20-back { background-color: $crimson-20; }
.sapphite-back { background-color: $sapphite; }
.smoke-back { background-color: $smoke; }
.silver-back { background-color: $silver; }
.mist-back { background-color: $mist; }
.fog-back { background-color: $fog; }
.white-back { background-color: $white; border: 1px solid #000; }
.success-back { background-color: $success; }
