$charcoal: #4A4A4A;
$steel: #5F636A;
$smoke: #CDCDCD;
$fog: #A3A7A9;
$silver: #DDDDDD;
$mist: #EEEEEE;
$white: #FFFFFF;
$teal: #1A6986;
$teal-80: #3C7F98;
$teal-60: #5E96AA;
$teal-40: #8CB4C2;
$teal-20: #BAD2DA;
$midnight: #1E384B;
$midnight-80: #405666;
$midnight-60: #617381;
$midnight-40: #8E9BA5;
$midnight-20: #BBC3C9;
$ruby: #A82D2B;
$crimson: #CD3835;
$crimson-60: #D45653;
$crimson-40: #DC7371;
$crimson-20: #E69B9A;
$cerulean: #5191CD;
$cerulean-80: #85BCE4;
$cerulean-60: #9DC9E9;
$cerulean-40: #C2DDF1;
$cerulean-20: #DAEAF6;
$sapphite: #1F419A;
$success: #0f9d58;
