/* page layout */
.section-content {
  max-width: 100%;
}
.inner-wrapper {
  width: 50%;
  float: left;
}
/* menu styling */

.menu {
  background-color: #eee;
}

.side-menu {
  font-size: 1.4rem;
}
.side-menu h2 {
  margin: 0;
  padding: .5em;
  font-size: 1.1em;
  color: #fff;
  background-color: #cd3835;
  font-weight: 700;
}
.side-menu h2 a {
  display: block;
  color: #fff;
  font-weight: 700;
  padding: 0;
}
.side-menu .menu {
  display: block;
  margin: 0;
  padding: 0;

}
.side-menu a {
  text-decoration: none;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  padding: .75em;
  color: #000;
  font-weight: 400;
}
.menu-item, .menu-item--collapsed, .menu-item--expanded {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

ul.menu {
  margin-left: 1em;
  padding: 0;
  list-style: none outside;
  text-align: left;
}

.side-menu ul.menu li.menu-item--expanded {
  background-color: $steel;
}

.side-menu ul.menu li.menu-item--expanded a {
  color: #000;
  font-weight: 600;
}

.side-menu .menu li, .side-menu .menu li a {
  display: inline-block;
  padding: .75em;
}
.side-menu .menu li {
  display: block;
  margin: 0;
  padding: 0;
}

.side-menu .menu .level-1 {
  background-color: #cdcdcd;
  border-top: 1px solid #fff;
}

.menu-item--active a {
  color: #000;
  font-weight: 600;
}

.region {
  width: 50%;
}
