---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

//@import "{{ site.theme }}";

//@import "{{ site.theme }}";
// breakpoints
$medium-breakpoint: 800px;
// global image fix
img {max-width: 95%; height: auto;}

//----------- Base styles
{% include css/base/basestyles.scss %}

//----------- Library styles
{% include css/librarystyles/library.scss %}


//----------- Pattern styles
{% include patterns/patterns.scss %}
